/* Reference For CSS Style Resets */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* -------------------------- */
/* Custom Properties */
/* -------------------------- */

:root {
  /* ---Colors------- */
  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;
  /* ---- fonts ------ */
  /* The bigger the font-weight,the bigger the font-size */
  /* The smaller the font-weights,the smaller the font-size */
  /* Font-weights Representing Font Sizes */
  /* ----- Smallest Font Sizes For Mobile Design ------ */
  /* ------- Later will be reset when screen size increases ------ */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* ---- font family ------- */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ----- Font Sizes in Tablet Layout ------ */
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

/* ---- Font Sizes in Full Width Layout ---- */
@media (min-width: 45em) {
  /* ----- Font Sizes For Our Bigger Screen Sizes ---------- */
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/* -------------------------- */
/* Reset Styles */
/* -------------------------- */

/* Box Sizing Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}
/* Default Font Weight */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up body styles */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--color-dark));
  color: hsl(var(--color-white));
  line-height: 1.5;
  min-height: 100vh;
  /* ------ Entire Page is Grid ------ */
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who have turned them off */
/* has to do with accessibility & provide a nice user experience to users */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------- */
/* ---- General -------------- */
/* Utility Classes - Reusable Styles */

.flex {
  display: flex;
  /* background: red; */
  gap: var(--gap, 1rem);
}

/* .flex.even-columns > * {
  width: 100%;
  outline: 1px solid limegreen;
} */

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* ------- Modern Way Of Adding Spacing ----------------- */
/* .flow > * + * {
  margin-top: 1rem;
  outline: 1px solid red;
} */

/* Alternative Syntax */
/* --- Select Everything Except First Child --- */
/* Using where syntax to remove specificity of selectors so 
that we can overwrite styles when necessary */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}
/* -------------- Spacing End -------------------- */

.container {
  /* Horizontal padding - left & right */
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Layout the content */
/*  */
.grid-container {
  display: grid;
  text-align: center;
  /* To Align the Children to the Center Of The Screen Separately */
  place-items: center;
  /* ------ Left & Right Padding ------ */
  padding-inline: 1rem;
}

/* Select Every Thing Inside Grid Container Class */
.grid-container * {
  /* Content Of Width Limited to Fifty Characters */
  max-width: 50ch;
}

/* ---- Making an Element as a Block Level ------*/
.d-block {
  display: block;
}

/* Media Query For Postioning based on Screen Size 45rem & Above */

@media (min-width: 45rem) {
  .grid-container {
    text-align: left;
    /* Gap between the columns to avoid overlapping */
    column-gap: var(--container-gap, 2rem);
    /* Using minmax to define that the element child can range from 0 to 40rem based on screen size */
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        2rem,
        1fr
      );
  }
  /* Where first child will be the column 2  */
  .grid-container > *:first-child {
    grid-column: 2;
  }
  /* Last div child will be column 3 */
  .grid-container > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    /* Takes the bigger of the two depending on screen sizes & lock that value */
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

/* Screen Reader Only Styles (Visibility Hidden) */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colors  (All are Utility Classes (Reusable Styles)
*/
.bg-dark {
  background-color: hsl(var(--color-dark));
}
.bg-light {
  background-color: hsl(var(--color-light));
}
.bg-white {
  background-color: hsl(var(--color-white));
}

/* Text Colors */
.text-dark {
  color: hsl(var(--color-dark));
}
.text-light {
  color: hsl(var(--color-light));
}
.text-white {
  color: hsl(var(--color-white));
}

/* ----- typography styles ------- */

/* ------utility classes for font families */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

/* ---- utility classes for letter spacing ----- */
.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}
/* --- Utility class for uppercase letter */
.uppercase {
  text-transform: uppercase;
}

/* ----- Utility Classes for Font Sizes based on Font Weights ----------- */
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

/* ----- Utility Styles for Line Height ------------------ */
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* ---------- Utility Class For Numbered Titles --------------- */

.numbered-titles {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

/* Targeting Span Within Scope Of .numbered-titles class */
.numbered-titles span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--color-white) / 0.25);
}

/* -------------------------- */
/* Utility Styles For Components (Interactive Elements) */
/* -------------------------- */

.large-button {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  /* Why Grid */
  display: inline-grid;
  align-items: center;
  border-radius: 50%;
  padding: 0 2em;
  aspect-ratio: 1;
  text-decoration: none;
}

/* Animating the Explore Button */
/* Why we Added this After Logic */
.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--color-white) / 0.15);
  transition: opacity 500ms linear, transform 750ms ease-in-out;
  border-radius: 50%;
  opacity: 0;
}

/* Adding Animation to Button On Hover */
.large-button:hover::after,
.large-button:focus::after {
  transform: scale(1.5);
  opacity: 1;
}

/* ---- Navigation Panel------ */
/* Default Styles For Navigation */
.primary-navigation {
  /* Vertical Padding */
  --underline-gap: 2rem;
  list-style: none;
  background: hsl(var(--color-white) / 0.05);
  /* backdrop-filter: blur(1.5rem); */
  /* Get rid of Default Margins & Padding For Ul Elements */
  /* Min - Takes the Smallest Of Two Values Depending On Screen Size  */
  padding: 0 0;
  margin: 0;
}

.mobile-nav-toggle {
  display: none;
}

/* Alternative Where Backdrop Filter is Not Supported By Certain Browsers */
@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background: hsl(var(--color-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}

/* Styling Navigation For Mobile Specific Screen Sizes */
@media (max-width: 35rem) {
  .primary-navigation {
    /* Vertical Padding */
    --underline-gap: 0.5rem;
    flex-direction: column;
    position: fixed;
    z-index: 8;
    inset: 0 0 0 30%;
    list-style: none;
    transform: translateX(100%);
    /* Get rid of Default Margins & Padding For Ul Elements */
    /* Min - Takes the Smallest Of Two Values Depending On Screen Size  */
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    transition: transform 500ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  /* Specificity */
  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 50;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }
}

/* ------- Styling Anchor Elements Within Scope Of Ul Element ------ */
.primary-navigation a {
  text-decoration: none;
}

/* -------- Targeting Span Element Within Scope Of Ul & a(anchor) Element ----------- */
.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

/* ----- Underline Indicators -----  */
/* ----- Common Styling For Navigation & Tab Components ----- */
/* ------ Select Every Direct Child Of Specified Selector Class & Apply Styles ------- */
/* Default Setup */
.underline-indicators > * {
  /* reset Borders if there are any for our element */
  border: 0;
  cursor: pointer;
  /* ---- Add Border But make it Invisible by Setting Opacity to Zero ------ */
  border-bottom: 0.2rem solid hsl(var(--color-white) / 0);
  /* Padding top,bottom & left&right - 0 */
  /* Adding a Custom Variable For Vertical Gap that Defaults to 1rem */
  padding: var(--underline-gap, 1rem) 0;
}
/* All Direct Descendents Of Ul Upon Hover & Focus */
.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--color-white) / 0.5);
}

/* Target the Elements that has a class of active with in scope of Ul element  */
.underline-indicators > .active,
/* Apply White Bottom Border to any Element that has a Property of aria-selected set to true */
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--color-white) / 1);
  border-color: hsl(var(--color-white) / 1);
}

.tab-indicators {
  /* --- Resetting the Flex Gap Property --- */
  --gap: 3rem;
}

/* ----- Dot Indicators ------ */
/* Select every lement within scope of dot indicators class */
.dot-indicators > * {
  cursor: pointer;
  /* reset borders */
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: hsl(var(--color-white) / 0.25);
}

/* ----- Styles Upon Hover & Focus Of Buttons --------- */

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--color-white) / 0.5);
}

/* ----- Styles When button element is selected (aria-selected status set to true) --------- */
.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--color-white) / 1);
}

/* ----- number Indicators ------ */
/* Select every lement within scope of number indicators class */
.number-indicators > * {
  cursor: pointer;

  border: 0;
  border-radius: 50%;
  padding: 2em;
}

/* ----------------------- */
/* ------------- Page Specific Background Styles -------- */
/* ----------------------- */
body {
  background-size: cover;
  background-position: bottom center;
}
/* ----- Home Page ---------*/
.home {
  background-image: url(./assets/home/background-home-mobile.jpg);
}

/* -------------- Images Based On Screen Sizes --------- */
/* Tablet Size */
@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
}

/* Desktop Size */
@media (min-width: 45rem) {
  .home {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }
}
